html {
  font-size: var(--base-font-size-sm);
}

body {
  background-color: var(--color-bg-1);
  color: var(--color-fg-1);
  font-family: var(--font-family);
}

.--menu-visible {
  overflow: hidden;
}

@media (min-width: 640px) {
  html {
    font-size: var(--base-font-size-md);
  }
  .--menu-visible {
    overflow: visible;
  }
}

@media (min-width: 960px) {
  html {
    font-size: var(--base-font-size-lg);
  }
}

@media (min-width: 1280px) {
  html {
    font-size: var(--base-font-size-xl);
  }
}
