.content {
  padding: 0 var(--size-4) 0 var(--size-4);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);
}
.content__inner {
  padding: var(--top-bar-height) 0 var(--size-12) 0;
}
.content__inner > :not(pre) {
  overflow-wrap: break-word;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: var(--font-weight-bold);
}
.content h1 {
  margin-top: var(--size-20);
  margin-bottom: var(--size-4);
  font-size: var(--size-8);
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.0625rem;
  line-height: var(--size-10);
}
.content h2 {
  margin-top: var(--size-12);
  font-size: var(--size-6);
  letter-spacing: -0.03125rem;
  line-height: var(--size-9);
}
.content h3 {
  margin-top: var(--size-8);
  font-size: var(--size-5);
  letter-spacing: -0.03125rem;
  line-height: var(--size-8);
}
.content h4 {
  margin-top: var(--size-6);
  font-size: var(--size-4);
}
.content h5 {
  margin-top: var(--size-4);
  font-size: var(--size-3);
}
.content h6 {
  margin-top: var(--size-4);
  color: var(--color-fg-2);
  font-size: var(--size-3);
  font-style: italic;
}

.content [id] {
  scroll-margin-top: var(--scroll-margin-top);
}

.header-link {
  display: inline-block;
  padding: 0 var(--size-4);
  color: var(--color-fg-3);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}
.header-link:hover {
  color: var(--color-fg-2);
}

.content hr {
  width: 100%;
  height: 1px;
  border: 0;
  margin-top: var(--size-12);
  background-color: var(--color-fg-5);
}

.content a:not(.header-link) {
  color: currentColor;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1875rem;
}
.content a:not(.header-link):hover {
  text-decoration: none;
}
.content a:focus-visible,
.content a:focus-visible code {
  background-color: var(--color-fg-1);
  color: var(--color-bg-1);
  outline: 0;
}

.content__inner > blockquote,
.content__inner > p,
.content__inner div p,
.content__inner > ul,
.content__inner > ol,
.content__inner > table {
  margin-top: var(--size-4);
}

.content blockquote {
  position: relative;
  padding: var(--size-2) 0 var(--size-2) var(--size-7);
  color: var(--color-fg-3);
}
.content blockquote:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  display: block;
  width: 1px;
  background-color: var(--color-fg-5);
  content: '';
}

.content li {
  position: relative;
  padding-left: var(--size-7);
}
.content li:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.content ul li:before {
  content: '◦';
}
.content ol {
  counter-reset: count;
}
.content ol li {
  counter-increment: count;
}
.content ol li:before {
  content: counter(count);
  font-variant-numeric: tabular-nums;
}

.content table th {
  color: var(--color-fg-3);
}

.content img {
  display: inline-block;
  max-width: 100%;
}

.content code {
  padding: var(--size-1);
  background-color: var(--color-bg-2);
  border-radius: var(--border-radius);
  color: var(--color-fg-2);
  font-family: var(--font-family-code);
  font-size: var(--font-size-code);
}
.content pre {
  margin: var(--size-6) 0;
  color: var(--color-fg-2);
}
.content pre code {
  display: block;
  padding: var(--size-4);
  overflow-x: auto;
}

.content strong {
  font-weight: var(--font-weight-bold);
}

@media (min-width: 640px) {
  .content__inner {
    max-width: 70ch;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .content {
    margin-left: var(--toc-width);
  }

  .content__inner {
    max-width: 66ch;
  }
}

@media (min-width: 1600px) {
  .content__inner {
    max-width: 70ch;
  }

  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    position: relative;
    display: block;
    padding-left: var(--size-9);
    margin-left: calc(-1 * var(--size-9));
  }

  .header-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding: 0 var(--size-3);
  }
}

@media (hover: hover) {
  .header-link {
    opacity: 0;
  }
  .content h1:hover .header-link,
  .content h2:hover .header-link,
  .content h3:hover .header-link,
  .content h4:hover .header-link,
  .content h5:hover .header-link,
  .content h6:hover .header-link {
    opacity: 1;
  }
}
