.hljs-strong {
  font-weight: var(--font-weight-bold);
}
.hljs-emphasis,
.hljs-params {
  font-style: italic;
}

.language-json.hljs,
.hljs-comment,
.hljs-function,
.hljs-keyword,
.hljs-meta,
.hljs-section,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-variable,
.language-html .hljs-tag {
  color: var(--color-fg-3);
}
.hljs,
.hljs-attr,
.hljs-params,
.hljs-title,
.language-html .hljs-tag .hljs-name,
.language-js .xml .hljs-tag .hljs-name,
.language-ts .xml .hljs-tag .hljs-name {
  color: var(--color-fg-2);
}
.hljs-attribute,
.hljs-built_in,
.hljs-builtin-name,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable {
  color: var(--color-fg-1);
}
.language-html .hljs-attr,
.language-js .xml .hljs-attr,
.language-ts .xml .hljs-attr,
.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-literal,
.hljs-name,
.hljs-number,
.hljs-regexp,
.hljs-selector-attr, /* css */
.hljs-selector-tag /* css */ {
  color: var(--color-accent);
}

.hljs-deletion {
  background-color: var(--color-deletion-bg);
  color: var(--color-deletion-fg);
}
.hljs-addition {
  background-color: var(--color-addition-bg);
  color: var(--color-addition-fg);
}
