.menu {
  position: fixed;
  top: var(--top-bar-height); /* `.top-bar` height */
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: var(--size-3) 0;
  border-right: 1px solid var(--color-fg-5);
  background-color: var(--color-bg-1);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  overflow-y: auto;
}
.--menu-visible .menu {
  display: block;
}

.menu a {
  position: relative;
  display: block;
  padding: var(--size-1) var(--size-4);
  color: var(--color-fg-3);
  overflow-wrap: break-word;
}
.menu li li a {
  padding-left: var(--size-8);
}
.menu li li li a {
  padding-left: var(--size-12);
}
.menu li li li li a {
  padding-left: var(--size-16);
}
.menu li li li li li a {
  padding-left: var(--size-20);
}
.menu li li li li li li a {
  padding-left: var(--size-24);
}
.menu a:not(.--scroll-spy-active):hover {
  color: var(--color-fg-2);
}
.menu a:focus-visible {
  background-color: var(--color-fg-1);
  color: var(--color-bg-1);
  outline: 0;
}
.menu a[target='_blank']:after {
  content: ' ↗';
}
.menu .--scroll-spy-active {
  color: var(--color-fg-1);
}

.menu code {
  font-family: var(--font-family-code);
  font-size: var(--font-size-code);
}

@media (min-width: 960px) {
  .menu {
    width: var(--toc-width);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }
  .--no-toc .menu {
    display: none;
  }

  .menu__links {
    display: none;
  }
}

@media (min-width: 1280px) {
  .menu {
    display: block;
    border-right: 0;
  }
}
