.top-bar {
  position: fixed;
  z-index: var(--z-index-1);
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: var(--color-bg-1);
  font-size: var(--font-size-md);
  line-height: var(--top-bar-height);
  overflow-x: auto;
  white-space: nowrap;
}

.top-bar:before {
  position: fixed;
  top: var(--top-bar-height);
  right: 0;
  left: 0;
  display: block;
  height: 1px;
  background-color: var(--color-fg-5);
  content: '';
  pointer-events: none;
}

.top-bar a {
  position: relative;
  z-index: var(--z-index-1);
  display: block;
  padding: 0 var(--size-2);
  color: var(--color-fg-3);
}
.top-bar a:not(.--scroll-spy-active):hover {
  color: var(--color-fg-2);
}
.top-bar a:focus-visible {
  background-color: var(--color-fg-1);
  color: var(--color-bg-1);
  outline: 0;
}
.top-bar .--scroll-spy-active {
  border-bottom: 1px solid var(--color-fg-1);
  color: var(--color-fg-1);
}

.top-bar__menu-toggle-button {
  position: relative; /* stack this above `.top-bar__title` */
  display: flex;
  height: var(--top-bar-height);
  align-items: center;
  padding: 0 var(--size-4);
  margin-right: calc(-1 * var(--size-2));
  color: var(--color-fg-3);
  cursor: pointer;
}
.top-bar__menu-toggle-button:hover {
  color: var(--color-fg-2);
}
.top-bar__menu-toggle-button:focus {
  outline: 0;
}
.top-bar__menu-toggle-button:focus-visible {
  background-color: var(--color-fg-1);
  color: var(--color-bg-1);
  outline: 0;
}
.top-bar__menu-toggle-button-menu-svg,
.top-bar__menu-toggle-button-close-svg {
  width: var(--font-size-md);
  height: var(--font-size-md);
}
.top-bar__menu-toggle-button-menu-svg {
  display: block;
}
.--menu-visible .top-bar__menu-toggle-button-menu-svg {
  display: none;
}
.top-bar__menu-toggle-button-close-svg {
  display: none;
}
.--menu-visible .top-bar__menu-toggle-button-close-svg {
  display: block;
}

.top-bar__title {
  flex-grow: 1;
  padding-left: var(--size-2);
  color: var(--color-fg-3);
}
.top-bar .top-bar__title-link {
  display: inline-block;
}
.top-bar__title-version {
  display: inline-block;
  color: var(--color-fg-4);
}

.top-bar__items {
  display: none;
}

@media (min-width: 960px) {
  .top-bar {
    font-size: var(--font-size-sm);
  }
  .--no-toc .top-bar__menu-toggle-button {
    display: none;
  }
  .top-bar__items {
    display: flex;
    padding-right: var(--size-2);
  }
  .top-bar__items > ul,
  .top-bar__items > ul li {
    display: flex;
  }
  .top-bar__items a[target='_blank']:after {
    content: ' ↗';
  }
}

@media (min-width: 1280px) {
  .top-bar__menu-toggle-button {
    display: none;
  }
}
