@import './breakpoints';

html {
  font-size: 16px;
}

body {
  color: var(--color-fg-1);
  font-family: var(--font-family);
  background-color: var(--color-bg);
}

.--toc-visible {
  position: fixed;
}

::selection {
  background-color: var(--color-accent);
}

@media (min-width: $screen-md) {
  html {
    font-size: 20px;
  }
}

@media (min-width: $screen-lg) {
  html {
    font-size: 24px;
  }
}
