@import './breakpoints';

html {
  font-size: 16px;
}

body {
  color: var(--color-fg-1);
  font-family: var(--font-family);
  background-color: var(--color-bg);
}

.--menu-visible {
  position: fixed;
}

::selection {
  color: var(--color-selection-fg);
  background-color: var(--color-selection-bg);
}
img::selection {
  background-color: var(--color-fg-1);
}

@media (min-width: $breakpoint-md) {
  html {
    font-size: 18px;
  }
  .--menu-visible {
    position: static;
  }
}

@media (min-width: $breakpoint-lg) {
  html {
    font-size: 20px;
  }
}

@media (min-width: $breakpoint-xl) {
  html {
    font-size: 24px;
  }
}
