@import './breakpoints';

html {
  font-size: var(--base-font-size-sm);
}

body {
  color: var(--color-fg-1);
  font-family: var(--font-family);
  background-color: var(--color-bg-1);
}

.--menu-visible {
  overflow: hidden;
}

@media (min-width: $breakpoint-md) {
  html {
    font-size: var(--base-font-size-md);
  }
  .--menu-visible {
    overflow: visible;
  }
}

@media (min-width: $breakpoint-lg) {
  html {
    font-size: var(--base-font-size-lg);
  }
}

@media (min-width: $breakpoint-xl) {
  html {
    font-size: var(--base-font-size-xl);
  }
}
