*,
::before,
::after {
  box-sizing: border-box;
  border-color: currentColor;
  border-style: solid;
  border-width: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1;
}

body {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
ol,
ul,
li,
input {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

a {
  text-decoration: none;
}

button {
  display: block;
  margin: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}
