:root {
  --base-font-size-sm: 15px;
  --base-font-size-md: 16px;
  --base-font-size-lg: 18px;
  --base-font-size-xl: 22px;
  --border-radius: 0.25rem;
  --button-height: 3rem;
  --button-padding: 1rem;
  --button-svg-height: 1rem;
  --color-bg: #fff;
  --color-fg-1: #000;
  --color-fg-2: #404040;
  --color-fg-3: #7f7f7f;
  --color-fg-4: #e2e2e2;
  --color-fg-5: #f4f4f4;
  --color-fg-6: #fbfbfb;
  --color-blue: #005cc5;
  --color-green: #22863a;
  --color-orange: #f9826c;
  --color-purple: #6f42c1;
  --color-red: #d73a49;
  --color-addition-fg: #22863a;
  --color-addition-bg: #f0fff4;
  --color-deletion-fg: #b31d28;
  --color-deletion-bg: #ffeef0;
  --color-selection-bg: rgba(0, 0, 0, 0.99);
  --color-selection-fg: #fff;
  --content-max-width: 80ch;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-family-code: SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  --font-weight-regular: normal;
  --font-weight-bold: bold;
  --font-size-code: 90%;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --line-height-sm: 1.2rem;
  --line-height-md: 1.6rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-13: 3.25rem;
  --size-14: 3.5rem;
  --size-15: 3.75rem;
  --size-16: 4rem;
  --size-17: 4.25rem;
  --size-18: 4.5rem;
  --size-19: 4.75rem;
  --size-20: 5rem;
  --size-24: 6rem;
  --size-64: 16rem;
  --toc-min-width: 8rem;
  --toc-max-width: 16rem;
  --z-index-1: 1;
  --z-index-2: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-bg: #000;
    --color-fg-1: #fff;
    --color-fg-2: #bfbfbf;
    --color-fg-3: #7f7f7f;
    --color-fg-4: #2f2f2f;
    --color-fg-5: #1a1a1a;
    --color-fg-6: #121212;
    --color-blue: #79c0ff;
    --color-green: #7ee787;
    --color-orange: #ffa657;
    --color-purple: #d2a8ff;
    --color-red: #ff7b72;
    --color-addition-fg: #aff5b4;
    --color-addition-bg: #033a16;
    --color-deletion-fg: #ffdcd7;
    --color-deletion-bg: #67060c;
    --color-selection-bg: rgba(255, 255, 255, 0.99);
    --color-selection-fg: #000;
  }
}
