html {
  --border-radius: 0.25rem;
  --color-bg: #fff;
  --color-fg-1: #000;
  --color-fg-2: #333;
  --color-fg-3: #7f7f7f;
  --color-fg-4: #ccc;
  --color-fg-5: #eee;
  --font-weight-bold: 700;
  --font-family: 'Inter', sans-serif;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-12: 3rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-24: 6rem;
  --z-index-1: 1;
  --z-index-2: 2;
  --toggle-button-svg-height: 1.5rem;
  --toggle-button-padding: 1rem;
  --toggle-button-height: 3.5rem;
  --scroll-margin-top: 4.5rem;
}
