:root {
  --base-font-size-sm: 15px;
  --base-font-size-md: 16px;
  --base-font-size-lg: 18px;
  --base-font-size-xl: 22px;
  --border-radius: 0.25rem;
  --color-bg-1: #fff;
  --color-bg-2: #f5f5f5; // 96%
  --color-fg-1: #000;
  --color-fg-2: #303030; // 80%
  --color-fg-3: #7f7f7f; // 50%
  --color-fg-4: #a6a6a6; // 35%
  --color-fg-5: #ccc; // 20%
  --color-accent: #946709;
  --color-addition-fg: #22863a;
  --color-addition-bg: #f0fff4;
  --color-deletion-fg: #b31d28;
  --color-deletion-bg: #ffeef0;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-family-code: SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  --font-weight-regular: normal;
  --font-weight-bold: bold;
  --font-size-code: 90%;
  --font-size-sm: 0.8rem;
  --font-size-md: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-md: 1.75rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-12: 3rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-24: 6rem;
  --z-index-1: 1;

  // Dimensions
  --scroll-margin-top: calc(var(--top-bar-height) + 40px);
  --toc-width: 16rem;
  --top-bar-height: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-bg-1: #000;
    --color-bg-2: #141414; // 92%
    --color-fg-1: #fff;
    --color-fg-2: #ccc; // 80%
    --color-fg-3: #7f7f7f; // 50%
    --color-fg-4: #595959; // 35%
    --color-fg-5: #333; // 20%
    --color-accent: #f7eab2;
    --color-addition-fg: #aff5b4;
    --color-addition-bg: #033a16;
    --color-deletion-fg: #ffdcd7;
    --color-deletion-bg: #67060c;
  }
}
