:root {
  --border-radius: 0.25rem;
  --color-bg: #fff;
  --color-fg-1: #000;
  --color-fg-2: #404040;
  --color-fg-3: #7f7f7f;
  --color-fg-4: #e2e2e2;
  --color-fg-5: #f4f4f4;
  --color-fg-6: #fbfbfb;
  --color-blue-1: #3171d8;
  --color-green-1: #178a6a;
  --color-green-2: #033a16;
  --color-purple-1: #7c4fa9;
  --color-red-1: #d23b44;
  --color-red-2: #67060c;
  --color-yellow-1: #935c25;
  --color-focus-keyboard-bg: #fee81e;
  --color-focus-keyboard-fg: #000;
  --color-selection-bg: rgba(0, 0, 0, 0.99);
  --color-selection-fg: #fff;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-family-code: SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  --font-weight-regular: normal;
  --font-weight-bold: bold;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-md: 1.5rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-13: 3.25rem;
  --size-14: 3.5rem;
  --size-15: 3.75rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-24: 6rem;
  --size-64: 16rem;
  --button-svg-height: 1rem;
  --button-padding: 1rem;
  --button-height: 3rem;
  --toc-width: 20rem;
  --z-index-1: 1;
  --z-index-2: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #000;
    --color-fg-1: #fff;
    --color-fg-2: #bfbfbf;
    --color-fg-3: #7f7f7f;
    --color-fg-4: #2f2f2f;
    --color-fg-5: #1a1a1a;
    --color-fg-6: #121212;
    --color-blue-1: #7ad0da;
    --color-green-1: #96dca5;
    --color-green-2: #033a16;
    --color-purple-1: #8ca7ff;
    --color-red-1: #f57d8f;
    --color-red-2: #67060c;
    --color-yellow-1: #d6c599;
    --color-selection-bg: rgba(255, 255, 255, 0.99);
    --color-selection-fg: #000;
  }
}
