@import '../breakpoints';

.content {
  padding: calc(var(--button-height) + var(--size-4)) var(--size-4)
    var(--size-16) var(--size-4);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.content__inner > :not(pre) {
  overflow-wrap: break-word;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: var(--font-weight-bold);
}
.content h1 {
  margin-top: var(--size-16);
  margin-bottom: var(--size-4);
  font-weight: var(--font-weight-bold);
  font-size: var(--size-8);
  line-height: var(--size-10);
  letter-spacing: -0.0625rem;
}
.content h2 {
  margin-top: var(--size-8);
  font-size: var(--size-6);
  line-height: var(--size-9);
  letter-spacing: -0.03125rem;
}
.content h3 {
  margin-top: var(--size-6);
  font-size: var(--size-5);
  line-height: var(--size-8);
  letter-spacing: -0.03125rem;
}
.content h4 {
  margin-top: var(--size-4);
  font-size: var(--size-4);
}
.content h5 {
  margin-top: var(--size-4);
  font-size: var(--size-3);
}
.content h6 {
  margin-top: var(--size-4);
  color: var(--color-fg-2);
  font-size: var(--size-3);
  font-style: italic;
}
.content [id] {
  scroll-margin-top: calc(var(--button-height) + var(--size-4));
}

.header-link {
  display: inline-block;
  padding: 0 var(--size-4);
  color: var(--color-fg-3);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
}
.header-link:hover {
  color: var(--color-fg-2);
}

.content hr {
  width: 100%;
  height: 1px;
  margin-top: var(--size-12);
  background-color: var(--color-fg-4);
  border: 0;
}

.content a:not(.header-link) {
  color: currentColor;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1875rem;
}
.content a:not(.header-link):hover {
  text-decoration: none;
}
.content a:focus,
.content a:focus code {
  color: var(--color-bg);
  background-color: var(--color-fg-1);
  outline: 0;
}

.content__inner > blockquote,
.content__inner > p,
.content__inner div p,
.content__inner > ul,
.content__inner > ol {
  margin-top: var(--size-2);
}

.content li {
  position: relative;
  padding-left: var(--size-7);
}
.content li:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.content ul li:before {
  content: '◦';
}
.content ol {
  counter-reset: count;
}
.content ol li {
  counter-increment: count;
}
.content ol li:before {
  content: counter(count);
  font-variant-numeric: tabular-nums;
}

.content blockquote {
  position: relative;
  padding: var(--size-2) 0 var(--size-2) var(--size-7);
  color: var(--color-fg-3);
}
.content blockquote:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2px;
  display: block;
  width: 1px;
  background-color: var(--color-fg-4);
  content: '';
}

.content img {
  display: inline-block;
  max-width: 100%;
}

.content code {
  padding: var(--size-1);
  font-size: var(--font-size-code);
  font-family: var(--font-family-code);
  background-color: var(--color-fg-5);
  border-radius: var(--border-radius);
}
.content pre code {
  display: block;
  padding: var(--size-4);
  overflow-x: auto;
  color: var(--color-fg-2);
}

.content strong {
  font-weight: var(--font-weight-bold);
}

@media (min-width: $breakpoint-md) {
  .content__inner {
    max-width: var(--content-max-width);
    margin: 0 auto;
  }
}

@media (min-width: $breakpoint-xxl) {
  .--menu-visible .content {
    margin-left: var(--toc-max-width);
  }
}

@media (hover: hover) and (min-width: $breakpoint-lg) {
  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    position: relative;
    display: block;
    margin-left: calc(-1 * var(--size-9));
    padding-left: var(--size-9);
  }
  .header-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding: 0 var(--size-3);
    opacity: 0;
  }
  .content h1:hover .header-link,
  .content h2:hover .header-link,
  .content h3:hover .header-link,
  .content h4:hover .header-link,
  .content h5:hover .header-link,
  .content h6:hover .header-link {
    opacity: 1;
  }
}
