@import '../breakpoints';

.content {
  padding: var(--scroll-margin-top) var(--size-4) 0 var(--size-4);
  font-weight: var(--font-weight-regular);
  font-size: var(--size-4);
  line-height: var(--size-6);

  .content__inner {
    max-width: 40ch;
    margin: 0 auto;
  }

  [id] {
    scroll-margin-top: calc(var(--scroll-margin-top) + var(--size-3));
  }

  .content__inner > :not(pre) {
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: var(--font-weight-bold);
  }
  h1 {
    margin-top: var(--size-16);
    font-weight: var(--font-weight-bold);
    font-size: var(--size-7);
    line-height: var(--size-10);
    letter-spacing: -0.0625rem;
  }
  h2 {
    margin-top: var(--size-7);
    font-size: var(--size-6);
    line-height: var(--size-9);
    letter-spacing: -0.03125rem;
  }
  h3 {
    margin-top: var(--size-5);
    font-size: var(--size-5);
    line-height: var(--size-8);
    letter-spacing: -0.03125rem;
  }
  h4 {
    margin-top: var(--size-4);
    font-size: var(--size-4);
  }
  h5 {
    margin-top: var(--size-4);
    font-size: var(--size-4);
  }
  h6 {
    margin-top: var(--size-4);
    color: var(--color-fg-2);
    font-size: var(--size-3);
    font-style: italic;
  }

  a {
    color: currentColor;
    text-decoration: underline;
    text-underline-offset: 0.1875rem;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      color: var(--color-focus-fg);
      background-color: var(--color-focus-bg);
      outline: 0;
    }
  }

  p,
  ul,
  ol {
    margin-top: var(--size-2);

    p,
    ul,
    ol {
      margin-top: 0;
    }
  }

  li {
    position: relative;
    padding-left: var(--size-7);
  }

  li:not(.task-list-item):before,
  .task-list-item input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  .task-list-item input {
    display: block;
    color: inherit;
    font: inherit;
    background: none;
    border: 0;
    opacity: 1;
    -webkit-appearance: none;

    &:before {
      display: block;
      content: '▢';
    }

    &:checked:before {
      content: '✓';
    }
  }

  ul li:not(.task-list-item):before {
    content: '○';
  }

  ol {
    counter-reset: count;
  }
  ol li {
    counter-increment: count;

    &:before {
      content: counter(count);
      font-variant-numeric: tabular-nums;
    }
  }

  blockquote {
    position: relative;
    padding-left: var(--size-7);

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 6px;
      display: block;
      width: 3px;
      border-right: 2px solid var(--color-fg-1);
      border-left: 2px solid var(--color-fg-1);
      content: '';
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: var(--size-4) auto 0;
  }

  code {
    font-family: var(--font-family-code);
    background-color: var(--color-fg-5);
    border-radius: var(--border-radius);
  }

  pre code {
    display: block;
    padding: var(--size-4);
  }

  hr {
    width: 100%;
    height: 0;
    margin-top: var(--size-9);
    border: 0;
    border-top: 2px dashed var(--color-fg-1);
  }

  strong {
    font-weight: var(--font-weight-bold);
  }
}

@media (min-width: $screen-xl) {
  .content {
    margin-left: var(--size-64);
    padding-top: 0;

    [id] {
      scroll-margin-top: var(--size-3);
    }
  }
}
