.hljs {
  color: var(--color-fg-2);
}

:root {
  --color-red: #ff7b72;
  --color-green: #aff5b4;
  --color-purple: #d1a8ff;
  --color-blue: #a5d6ff;
}

.hljs-strong {
  font-weight: var(--font-weight-bold);
}
.hljs-emphasis {
  font-style: italic;
}

.hljs-name,
.hljs-title,
.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: var(--color-green); // green
}

.hljs-tag .hljs-name, // html
.hljs-selector-id, // css
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-keyword,
.hljs-section,
.hljs-attr,
.hljs-variable {
  color: var(--color-red);
}

.hljs-tag .hljs-attr, // html
.hljs-selector-tag, // css
.hljs-name {
  color: var(--color-purple); // purple
}

.hljs-string,
.hljs-subst,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-attribute,
.hljs-template-tag,
.hljs-template-variable {
  color: var(--color-blue);
}

.hljs-comment,
.hljs-meta {
  color: var(--color-fg-3);
}

.hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}
.hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}
