.hljs,
.hljs-subst {
  color: var(--color-fg-2);
}

.hljs-strong {
  font-weight: var(--font-weight-bold);
}
.hljs-emphasis,
.hljs-params {
  font-style: italic;
}

.hljs-tag .hljs-attr, // html
.hljs-selector-tag, // css
.hljs-name,
.hljs-title,
.hljs-bullet,
.hljs-quote,
.hljs-link {
  color: var(--color-purple-1);
}

.hljs-number {
  color: var(--color-yellow-1); // yellow
}

.hljs-tag .hljs-name, // html
.hljs-selector-id, // css
.hljs-selector-class,
.hljs-keyword,
.hljs-section,
.hljs-attr,
.hljs-variable {
  color: var(--color-red-1);
}

.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-regexp,
.hljs-name,
.hljs-literal {
  color: var(--color-green-1);
}

.hljs-string,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-attribute,
.hljs-template-tag,
.hljs-template-variable {
  color: var(--color-blue-1);
}

.hljs-comment,
.hljs-meta {
  color: var(--color-fg-3);
}

.hljs-deletion {
  color: var(--color-red-1);
  background-color: var(--color-red-2);
}
.hljs-addition {
  color: var(--color-green-1);
  background-color: var(--color-green-2);
}
