.menu {
  position: fixed;
  top: var(--button-height);
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow-y: auto;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  background-color: var(--color-bg);
}

.--menu-visible .menu {
  display: block;
}

.menu__top-bar {
  padding: var(--size-2) 0;
}

.menu__toc {
  padding: var(--size-2) 0;
}
.menu__top-bar + .menu__toc {
  border-top: 1px solid var(--color-fg-4);
}

.menu a {
  position: relative;
  display: block;
  padding: var(--size-2) var(--size-4);
  color: var(--color-fg-3);
  overflow-wrap: break-word;
}
.menu a:hover {
  color: var(--color-fg-2);
}
.menu a:focus {
  color: var(--color-fg-1);
  outline: 0;
}
.menu a:focus-visible {
  color: var(--color-focus-keyboard-fg);
  background-color: var(--color-focus-keyboard-bg);
}
.menu .menu__item--active,
.menu .menu__item--active:hover {
  color: var(--color-fg-1);
  background-color: var(--color-fg-5);
}

.menu__top-bar [target='_blank']:after {
  content: ' ↗';
}

.menu__toc li li a {
  padding-left: var(--size-8);
}
.menu__toc li li li a {
  padding-left: var(--size-12);
}
.menu__toc li li li li a {
  padding-left: var(--size-16);
}
.menu__toc li li li li li a {
  padding-left: var(--size-20);
}
.menu__toc li li li li li li a {
  padding-left: var(--size-24);
}

.menu__toc code {
  font-size: 90%;
  font-family: var(--font-family-code);
}

@media (min-width: $breakpoint-md) {
  .menu {
    position: static;
    display: block;
    overflow-y: visible;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    background-color: transparent;
  }

  .menu__top-bar {
    position: fixed;
    top: 0;
    right: var(--size-4);
    left: var(--button-height);
    z-index: var(--z-index-2);
    display: flex;
    padding: 0;
    overflow-x: auto;
    border-bottom: 0;
  }
  .menu__top-bar > ul:first-child {
    flex-grow: 1;
  }

  .menu__top-bar > ul {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
  }

  .menu .menu__top-bar a {
    padding: calc((var(--button-height) - var(--line-height-sm)) / 2)
      var(--size-2);
    white-space: nowrap;
  }

  .menu__toc {
    position: fixed;
    top: var(--button-height);
    bottom: 0;
    left: 0;
    display: none;
    width: var(--toc-width);
    overflow-y: auto;
    background-color: var(--color-bg);
    border-right: 1px solid var(--color-fg-4);
  }
  .menu__top-bar + .menu__toc {
    border-top: 0;
  }
  .--menu-visible .menu__toc {
    display: block;
  }
}

@media (min-width: $breakpoint-lg) {
  .menu__toc a {
    padding-top: var(--size-1);
    padding-bottom: var(--size-1);
  }
}
