.sidebar-toggle-button {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-1);
  color: var(--color-fg-3);
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-fg-4);
}

.sidebar-toggle-button__button {
  display: block;
  padding: var(--button-padding);
  color: var(--color-fg-3);
  cursor: pointer;
}
.sidebar-toggle-button__button:hover {
  color: var(--color-fg-2);
}
.sidebar-toggle-button__button:focus {
  color: var(--color-fg-1);
  outline: 0;
}

.sidebar-toggle-button__svg {
  width: var(--button-svg-height);
  height: var(--button-svg-height);
}

.sidebar-toggle-button__menu {
  display: block;
}
.--sidebar-visible .sidebar-toggle-button__menu {
  display: none;
}

.sidebar-toggle-button__close {
  display: none;
}
.--sidebar-visible .sidebar-toggle-button__close {
  display: block;
}

@media (min-width: $breakpoint-md) {
  .sidebar-toggle-button__button {
    border-right: 1px solid var(--color-fg-4);
  }

  .sidebar-toggle-button--links-only .sidebar-toggle-button__button {
    visibility: hidden;
  }
}
