.toc-toggle-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-2);
  display: block;
  width: 100%;
  padding: var(--button-padding);
  color: var(--color-fg-3);
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-fg-5);
  cursor: pointer;
}
.toc-toggle-button:hover {
  color: var(--color-fg-2);
}
.toc-toggle-button:focus {
  color: var(--color-fg-1);
  outline: 0;
}

.toc-toggle-button__svg {
  width: var(--button-svg-height);
  height: var(--button-svg-height);
}

.toc-toggle-button__menu {
  display: block;
}
.--toc-visible .toc-toggle-button__menu {
  display: none;
}

.toc-toggle-button__close {
  display: none;
}
.--toc-visible .toc-toggle-button__close {
  display: block;
}

@media (min-width: $breakpoint-md) {
  .toc-toggle-button {
    width: auto;
    background-color: transparent;
    border-bottom: 0;
  }

  .--toc-visible .toc-toggle-button {
    width: var(--toc-width);
    border-bottom: 1px solid var(--color-fg-5);
  }
}
