.toc-toggle-button {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-1);
  background-color: var(--color-bg);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

  &__button {
    position: relative;
    z-index: var(--z-index-2);
    padding: var(--toggle-button-padding);
    color: var(--color-fg-2);
    cursor: pointer;

    &:focus {
      color: var(--color-focus-fg);
      background-color: var(--color-focus-bg);
      outline: 0;
    }
  }

  &__menu,
  &__close {
    width: var(--toggle-button-svg-height);
    height: var(--toggle-button-svg-height);
    pointer-events: none;
  }

  &__menu {
    display: block;

    .--toc-visible & {
      display: none;
    }
  }

  &__close {
    display: none;

    .--toc-visible & {
      display: block;
    }
  }
}

@media (min-width: $screen-xl) {
  .toc-toggle-button {
    display: none;
  }
}
