.toc {
  position: fixed;
  top: var(--toggle-button-height);
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow-y: auto;
  font-size: var(--size-4);
  line-height: var(--size-6);
  background-color: var(--color-bg);
  pointer-events: none;

  .--toc-visible & {
    display: block;
    pointer-events: auto;
  }

  a {
    position: relative;
    display: block;
    padding-top: var(--size-4);
    padding-right: var(--size-4);
    padding-bottom: var(--size-4);
    color: var(--color-fg-3);
    overflow-wrap: break-word;

    &:hover {
      background-color: var(--color-fg-5);
    }

    &:focus {
      color: var(--color-focus-fg);
      background-color: var(--color-focus-bg);
      outline: 0;
    }

    &:before {
      position: absolute;
      top: 0;
      right: var(--size-4);
      left: var(--size-4);
      display: block;
      height: 1px;
      background-color: var(--color-fg-5);
      content: '';
    }

    &:focus:before {
      display: none;
    }
  }

  > ul > li:first-child > a:before {
    display: none;
  }

  li a {
    padding-left: calc(1 * var(--size-4));
  }
  li li a {
    padding-left: calc(2 * var(--size-4));
  }
  li li li a {
    padding-left: calc(3 * var(--size-4));
  }
  li li li li a {
    padding-left: calc(4 * var(--size-4));
  }
  li li li li li a {
    padding-left: calc(5 * var(--size-4));
  }
  li li li li li li a {
    padding-left: calc(6 * var(--size-4));
  }
}

@media (min-width: $screen-md) {
  .toc {
    line-height: var(--size-5);

    a {
      padding-top: var(--size-3);
      padding-bottom: var(--size-3);
    }
  }
}

@media (min-width: $screen-lg) {
  .toc {
    font-size: var(--size-3);
    line-height: var(--size-4);

    a {
      padding-top: var(--size-2);
      padding-bottom: var(--size-2);
    }
  }
}

@media (min-width: $screen-xl) {
  .toc {
    top: 0;
    right: auto;
    display: block;
    width: var(--size-64);
    border-right: 1px solid var(--color-fg-5);
    pointer-events: auto;

    .--toc-visible & {
      display: block;
    }

    a:before {
      right: 0;
      left: 0;
    }
  }
}
