.toc {
  position: fixed;
  top: var(--button-height);
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-1);
  display: none;
  padding-bottom: var(--size-6);
  overflow-y: auto;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  background-color: var(--color-bg);
  pointer-events: none;
}

.--toc-visible .toc {
  display: block;
  pointer-events: auto;
}

.toc a {
  position: relative;
  display: block;
  padding: var(--size-2) var(--size-4);
  color: var(--color-fg-3);
  overflow-wrap: break-word;
}
.toc a:hover {
  color: var(--color-fg-2);
}
.toc a:focus {
  color: var(--color-fg-1);
  outline: 0;
}
.toc a:focus-visible {
  color: var(--color-focus-keyboard-fg);
  background-color: var(--color-focus-keyboard-bg);
}
.toc .toc__item--active,
.toc .toc__item--active a:hover {
  color: var(--color-fg-1);
  background-color: var(--color-fg-5);
}

.toc > ul > li > a {
  margin-top: var(--size-2);
}
.toc li li a {
  padding-left: var(--size-8);
}
.toc li li li a {
  padding-left: var(--size-12);
}
.toc li li li li a {
  padding-left: var(--size-16);
}
.toc li li li li li a {
  padding-left: var(--size-20);
}
.toc li li li li li li a {
  padding-left: var(--size-24);
}

.toc code {
  font-size: 90%;
  font-family: var(--font-family-code);
}

@media (min-width: $breakpoint-md) {
  .toc {
    right: auto;
    width: var(--toc-width);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    background-color: transparent;
  }

  .toc:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: var(--toc-width);
    background-color: var(--color-bg);
    border-right: 1px solid var(--color-fg-4);
    content: '';
  }
}

@media (min-width: $breakpoint-lg) {
  .toc a {
    padding-top: var(--size-1);
    padding-bottom: var(--size-1);
  }
}

@media (min-width: $breakpoint-xl) {
  .toc {
    width: var(--toc-width);
  }
}
